<% form_for :assistant_benefit_set, :url => { :action => 'update', :id => @assistant_benefit_set.id }, :html => { :method => 'put'} do |f| %>
  <fieldset>
    <legend>修改辅导员津贴</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p class="bbar">
      <%= f.submit '更新' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>
