<p>
  <b>Key:</b>
  <%=h @app_config.key %>
</p>

<p>
  <b>Value:</b>
  <%=h @app_config.value %>
</p>


<%= link_to 'Edit', edit_app_config_path(@app_config) %> |
<%= link_to 'Back', app_configs_path %>