<% form_for(@station_position_benefit) do |f| %>
  <fieldset>
    <legend>修改岗位－职务津贴</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p class="bbar">
      <input type="button" value="上一条" id="btnPrev" />
      <input type="button" value='保存' id ="update"  />
      <input type="button" value='新增' id="btnNew"  />
      <input type="button" onclick="$page.showListView('reloadData')" value="返回列表" />
      <input type="button" value="下一条" id="btnNext" />
    </p>
  </fieldset>
<% end %>
