<fieldset>
  <legend>查看员工[<%= @station_position_benefit.user.name if @station_position_benefit.user %>]的岗位－职务津贴</legend>
  <p>
    <b>离退休人员姓名:</b>
    <%=h @station_position_benefit.user.name if @station_position_benefit.user.name%>
  </p>

  <p>
    <b>岗位津贴:</b>
    <%=h @station_position_benefit.station_be %>
  </p>

  <p>
    <b>职务津贴:</b>
    <%=h @station_position_benefit.position_be  %>
  </p>

  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>