<% form_for(@performance_benefit_record) do |f| %>
  <fieldset>
    <legend>添加绩效津贴记录</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p class="bbar">
      <%= f.submit '保存' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>
