<fieldset>
  <legend>查看辅导员</legend>
  <p>
    <b>辅导员姓名:</b>
    <%=h @assistant.user.name%>
  </p>
  <p>
    <b>院系:</b>
    <%=h @assistant.department.name %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>