<fieldset>
  <legend>查看辅导员津贴标准</legend>
  <p>
    <b>辅导员姓名:</b>
    <%=h @assistant_benefit_standard.user.name %>
  </p>
    <p>
    <b>津贴:</b>
    <%=h @assistant_benefit_standard.benefit %>
  </p>
    <p>
    <b>其他:</b>
    <%=h @assistant_benefit_standard.other %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>