<p>
  <b>User:</b>
  <%=h @basic_salary.user %>
</p>

<p>
  <b>Station sa:</b>
  <%=h @basic_salary.station_sa %>
</p>


<%= link_to 'Edit', edit_basic_salary_path(@basic_salary) %> |
<%= link_to 'Back', basic_salaries_path %>