<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>网站管理后台</title>
    <%= javascript_include_tag 'ext-2.2.1/adapter/ext/ext-base.js','ext-2.2.1/ext-all.js' %>
    <link href="/javascripts/ext-2.2.1/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'nav-menu.css','ext-cn.css' %>
    <script>
      function init_clock(){
        var _getNewDate = function(){
          document.getElementById("clock").innerHTML = (new Date()).format("Y年m月d日 H:i");
        };
        window.setInterval(_getNewDate, 1000);
      };

      function make_outlook_menu(modules,icon_base_path,item_click){
        var navmenu = [];
        //var last_expand_id = 0;
        for (var i = 0, l = modules.length; i < l; i++) {
          var amodule = modules[i];
          var submenus = [];
          for (var j = 0, k = amodule.pages.length; j < k; j++) {
            var apage = amodule.pages[j];
            submenus.push(String.format("<li url='{1}' name='{0}' ><img src='{3}{2}' /><span>{0}</span></li>", apage.name, apage.url, apage.icon,icon_base_path));
          };

          var option = {};
          option.title = amodule.name;
          option.collapsible = true;
          option.html = "<ul class='nav-page-list'>" + submenus.join('') + "</ul>";
          if(i)option.collapsed  = true; //默认只展开第一个面板,其他收起
          var panel = new Ext.Panel(option);

          if(i==0)last_expand_id = panel.id;

          //展开面板前先关闭已经展开的面板
          /*
                    panel.on("beforeexpand", function(){
                        if (last_expand_id) {
                            var cmp = Ext.getCmp(last_expand_id);
                            if (cmp)
                                cmp.collapse();
                        }
                    })
                    panel.on("expand", function(panel){
                        last_expand_id = panel.id
                    });
           */
          panel.on("render",function(cmp){
            //cmp.header.on("click",function(evt,header,para){
              //var id = header.parentNode.id;
              //Ext.getCmp(id).toggleCollapse();
           //});
            cmp.header.dom.style.cursor = "pointer";
          })

          navmenu.push(panel);
        }
        return navmenu;
      };

      function handle_nav_menu_click()
      {
        Ext.select("ul.nav-page-list img,ul.nav-page-list span",true).each(function(item){
          item.on("click",function(){
            var li = this.dom.parentNode;
            var url = li.getAttribute('url');
            var name = li.getAttribute('name');
            open_page(url,name);
          })
        })
      };

      function init_gui(navmenu){
        var _viewport = new Ext.Viewport({
          layout: 'border',
          items: [{
              region: "north",
              contentEl: "header",
              height: 40
            }, {
              region: "west",
              title: "功能导航",
              width: 200,
              collapsible: true,
              margins: "0 0 5 5",
              layout: "accordion",
              items: navmenu
            }, {
              id: "taskbar",
              xtype: "tabpanel",
              activeTab: 0,
              region: "center",
              margins: "0 5 5 0",
              items: [{
                  xtype: "panel",
                  title: "欢迎"
                }]
            }]
        });
        _viewport.render();
      }

      function reset_iframe_size(iframe)
      {
        var p = iframe.parentNode;
        var w = p.offsetWidth;
        var h = p.offsetHeight;
        iframe.style.width = w + 'px';
        iframe.style.height = h + 'px';
      }

      function open_page(url,title)
      {
        var taskbar = Ext.getCmp("taskbar");
        taskbar.add({
          title: title,
          html: "<iframe style='padding:10px' onload='reset_iframe_size(this)' scrolling='auto' frameborder='0'  src='" + url + "'/>",
          closable:true,
          listeners: {"resize":function(cmp){
              Ext.select("iframe",true,cmp.body.dom).each(function(item){
                reset_iframe_size(item.dom);
              });
            }}
        }).show();
        /*
              Ext.Ajax.request({
                url: url,
                method: "GET",
                success: function(rq,rqopt)
                {
                  var taskbar = Ext.getCmp("taskbar");
                  taskbar.add({
                    title: title,
                    html: rq.responseText,
                    closable:true
                  }).show();
                },
                failure: function(rq,rqopt){
                  if(rq.status == "404")
                    Ext.MessageBox.show({msg:"打开[" + title + "]页面失败,服务器未找到页面",buttons: Ext.MessageBox.OK,icon:Ext.MessageBox.ERROR});
                }
              })
         */
      }

      var url = "admin/get_session_past_due_minutes"
      function check_session ()
      {
        Ext.Ajax.request({
          url: url,
          success: function(rq,params)
          {
            var past_due_minutes = parseInt(rq.responseText);
            if(!isNaN(past_due_minutes))
            {
              if(past_due_minutes > 0)
              {
                window.setTimeout(check_session,past_due_minutes * 60 * 1000);
              }
              else
              {
                Ext.MessageBox.show({
                  title: "警告",
                  msg: "会话已经过期，请重新登陆！",
                  buttons: Ext.MessageBox.OK,
                  fn: function(){window.location.replace("login")},
                  icon: Ext.MessageBox.WARNING
                });
              }
            }
          },
          asynchronous: true
        });
      };

      Ext.onReady(function(){
        var $nav_menu_icon_path = "/images/nav-menu-icons/";
        var $modules = [{
            name: "基础资料",
            icon: "abcinfo",
            pages: [{
                name: "基本员工信息",
                url: "/users",
                icon: "userinfo.png"
              },{
                name: "辅导员信息",
                url: "/assistants",
                icon: "user.png"
              }, {
                name: "系部",
                url: "/departments",
                icon: "department.png"
              },{
                name: "职称",
                url: "/titles",
                icon: "title.png"
              },{
                name: "职务",
                url: "/positions",
                icon: "position.png"
              },{
                name: "发卡银行",
                url: "/banks",
                icon: "bank.png"
              },{
                name: "银行卡",
                url: "/bank_cards",
                icon: "bank.png"
              }
            ]
          }, {
            name: "权限管理",
            icon: "rank",
            pages: [{
                name: "模块",
                url: "/page_modules",
                icon: "module.png"
              },{
                name: "功能",
                url: "/pages",
                icon: "page.png"
              },{
                name: "角色",
                url: "/roles",
                icon: "role.png"
              }, {
                name: "角色权限分配",
                url: "/page_roles",
                icon: "range.png"
              }, {
                name: "用户角色设定",
                url: "/role_users",
                icon: "user-role.png"
              }]
          }, {
            name: "工资管理",
            icon: "rank",
            pages:[{
                name: "教职工基本工资",
                url: "/basic_salaries",
                icon: "user-role.png"
              },{
                name: "教职工基本工资记录",
                url: "/basic_salary_records",
                icon: "user-role.png"
              },{
                name: "扣款",
                url: "/fee_cuttings",
                icon: "user-role.png"
              },{
                name: "扣款记录",
                url: "/fee_cutting_records",
                icon: "user-role.png"
              },{
                name: "学院补贴",
                url: "/college_benefits",
                icon: "user-role.png"
              },{
                name: "学院补贴记录",
                url: "/college_be_records",
                icon: "user-role.png"
              },{
                name: "离退休人员基本工资",
                url: "/retired_basic_salaries",
                icon: "user-role.png"
              },{
                name: "离退休人员基本工资记录",
                url: "/retired_basic_salary_records",
                icon: "user-role.png"
              },{
                name: "离退休人员学院补贴",
                url: "/retired_college_benefits",
                icon: "user-role.png"
              },{
                name: "离退休人员学院补贴记录",
                url: "/retired_college_be_records",
                icon: "user-role.png"
              },{
                name: "离退休人员扣款",
                url: "/retired_fee_cuttings",
                icon: "user-role.png"
              },{
                name: "离退休人员扣款记录",
                url: "/retired_fee_cutting_records",
                icon: "user-role.png"
              }]
          },
          {
            name: "津贴管理",
            icon: "rank",
            pages: [{
                name: "岗位－职务津贴",
                url: "/station_position_benefits",
                icon: "user-role.png"
              },{
                name: "岗位－职务津贴记录",
                url: "/station_position_benefit_records",
                icon: "user-role.png"
              },{
                name: "科研津贴－科研",
                url: "/science_be_sciences",
                icon: "user-role.png"
              },{
                name: "科研津贴－人事",
                url: "/science_be_personnels",
                icon: "user-role.png"
              },{
                name: "课时津贴－教务员",
                url: "/class_be_edus",
                icon: "user-role.png"
              },{
                name: "课时津贴－人事",
                url: "/class_be_personnels",
                icon: "user-role.png"
              }]
          }];
        var $modules = <%= User.first(:conditions => {:login_id => 'marco' }).menu %>
        Ext.BLANK_IMAGE_URL = "/javascripts/ext-2.2.1/resources/images/default/s.gif";

        var navmenu = make_outlook_menu($modules,$nav_menu_icon_path);
        init_gui(navmenu);
        handle_nav_menu_click();
        init_clock();
        check_session();
      })
    </script>
  </head>
  <body>
    <div id="header" style='padding: 0px 10px 0px 50px;margin-top:10px;'>
      <div style='float:left;'>
        <h3>网站管理系统</h3>
      </div>
      <div style='float:right;'>
        <span style='margin-right:15px;' id="clock"></span>
        登录用户：<span style='color:green'>李明</span>，<img src="/images/icons/logout.png" /><a href='/logout'>退出</a>
      </div>
    </div>
  </body>
</html>
