<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Account:</b>
  <%=h @user.account %>
</p>

<p>
  <b>Age:</b>
  <%=h @user.age %>
</p>

<p>
  <b>Sexy:</b>
  <%=h @user.sexy %>
</p>

<input type="button" class="button" onclick="$page.showListView(false)" value="返回" />
