/* CSS Document */
/*login*/
body {
	margin:0;
	padding:0;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}
p{
	margin:0px;
	padding:0px;
}
input{
	padding:0px;
	margin:0px;
}
.clear{
	clear:both;
}

.bg-login-title{
	float:left;
	color:#CCCCCC;
	font-size:30px;
}
.bg-login-down{
	float:left;
	width:325px;
	margin-top:50px;
}
.bg-login-up{
	float:left;
	width:275px;
	margin-top:15px;
}
.bg-login-content{
	float:left;
	width:612px;
	height:340px;
	background-image:url(../images/background-images/login_bg.jpg);
	background-repeat:no-repeat;
}
.bg-login-leftcol{
	float:left;
}
.forget-password{
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;	
	color:red;
}
.bg-login-rightcol{
	float:left;
	margin-left:15px;
}

.bg-login-right{
	float:right;
	width:345px;
}
.bg-input{
	margin-left:8px;
	width:190px;
}
.bg-input2{
	margin-left:11px;
	width:190px;
}
.bg-input3{
	margin-left:86px;
	width:190px;
	margin-top:8px;
}
.bg-click{
	margin-left:86px;
	width:210px;
	margin-top:8px;
	color:#65645e;
	font-size:11px;
}
	
.validate-img{
	margin-left:86px;
	margin-top:8px;
}
.bg-text{
	float:left;
	width:300px;
	color:#65645e;
	font-size:12px;
	margin-top:10px;
}
.bg-login-up{
	color:#999;
	font-size:11px;
}
.bg-login-name{
	color:#65645e;
	font-size:13px;
	font-weight:bold;
}
.bg-login-password{
	color:#65645e;
	font-size:13px;
	margin-top:10px;
	font-weight:bold;
}
.bg-click-a{
	color:#000000;
}
.bg-log{
	float:left;
}
.bg-login{
	width:612px;
	height:340px;
	margin:0 auto;
	margin-top:110px;
}
.bg-log a:link,.bg-log a:visited{
	float:left;
	width:57px;
	height:21px;
	background-image:url(../images/background-images/butt.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 0px 0px 20px;
	font-size:13px;
	margin-top:8px;
	text-decoration:none;
}
.bg-log a:hover{
	float:left;
	width:57px;
	height:21px;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 0px 0px 20px;
	font-size:13px;
	margin-top:8px;
	text-decoration:none;
	background-position:100% -25px;
}
.bg-cancel{
	float:left;
	margin-left:15px;
}
.bg-cancel a:link,.bg-cancel a:visited,.bg-cancel a:active{
	float:left;
	width:57px;
	height:21px;
	background-image:url(../images/background-images/butt.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 0px 0px 20px;
	font-size:13px;
	margin-top:8px;
	text-decoration:none;
}
.bg-cancel a:hover{
	float:left;
	width:57px;
	height:21px;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 0px 0px 20px;
	font-size:13px;
	margin-top:8px;
	text-decoration:none;
	background-position:100% -25px;
}
.login-forget{
	float:left;
	width:250px;
	margin-top:10px;
	color:#65645E;
	font-size:11px;
}
.bg-email{
	font-size:13px;
	font-weight:bold;
	margin-top:70px;
	color:#65645E;
}
.bg-email-input{
	float:left;
	margin-top:5px;
}
.bg-input4{
	width:280px;
}
.bg-email-text{
	float:left;
	margin-top:15px;
	color:#65645E;
	font-weight:bold;
	width:280px;
}
.bg-reset{
	float:left;
}
.bg-reset a:link,.bg-reset a:visited{
	color:#FFFFFF;
	text-decoration:none;
	float:left;
	width:100px;
	height:25px;
	background-image:url(../images/background-images/butt2_out.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 20px;
	font-size:13px;
	margin-top:15px;
}
.bg-reset a:hover{
	float:left;
	width:100px;
	height:25px;
	text-decoration:none;
	background-image:url(../images/background-images/butt2_over.gif);
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 20px;
	font-size:13px;
	margin-top:15px;
}