.nav-page-list 
{
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
} 

.nav-page-list li 
{
  margin-top: 10px;
}

.nav-page-list li img
{
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.nav-page-list li span
{
  cursor: pointer;
}
