.onboard_page {
  width: 1008px;
  margin: 0px auto; }
  .onboard_page #browser_warning {
    margin: 10px auto;
    width: 600px; }
    .onboard_page #browser_warning .notice {
      background-image: url(/images/login/flash_notice.png);
      background-position: 10px 6px;
      padding: 10px 0 10px 50px; }
  .onboard_page a {
    line-height: 1.1em; }
  .onboard_page .logo {
    margin-left: 35px;
    margin-bottom: 10px;
    width: 291px;
    height: 28px;
    text-indent: -99999px;
    display: block;
    background-image: url(/images/login/logo_full.png);
    background-repeat: no-repeat; }
  .onboard_page form.onboard_form input[type=text], .onboard_page form.onboard_form input[type=password] {
    font-size: 18px;
    color: #333;
    width: 333px;
    padding-left: 3px; }
  .onboard_page form.onboard_form .field {
    margin-bottom: 15px; }
    .onboard_page form.onboard_form .field label {
      color: #999;
      font-size: 12px; }
    .onboard_page form.onboard_form .field.text_field label {
      display: block;
      margin-bottom: 5px;
      padding-left: 2px; }
    .onboard_page form.onboard_form .field.check_box_field {
      margin-bottom: 5px; }
      .onboard_page form.onboard_form .field.check_box_field label {
        vertical-align: 2px; }
  .onboard_page form.onboard_form .actions {
    text-align: right;
    margin-bottom: 20px; }
  .onboard_page .onboard_actions {
    color: #999;
    font-size: 11px;
    padding-bottom: 10px;
    margin-right: -3px;
    margin-left: -3px; }
    .onboard_page .onboard_actions a {
      font-size: 12px; }
  .onboard_page .flash_boxes {
    padding-top: 0px;
    padding-bottom: 5px;
    line-height: 1.25em;
    font-family: Helvetica;
    font-size: 16px; }
    .onboard_page .flash_boxes p {
      font-weight: normal;
      padding: 7px 7px 6px 10px;
      margin: 0 0 10px 0;
      background-image: none;
      line-height: 22px;
      border: 2px solid #aaa; }
    .onboard_page .flash_boxes .notice, .onboard_page .flash_boxes .success {
      color: #0A5B10;
      border-color: #ADCDAA;
      background-color: #EAF8E9;
      font-size: 16px; }
    .onboard_page .flash_boxes .success {
      padding-left: 50px;
      background-image: url(/images/login/success.png);
      background-repeat: no-repeat;
      background-position: 10px center; }
    .onboard_page .flash_boxes .error {
      color: #D20000;
      border-color: #ee2200;
      padding-left: 50px;
      background-color: #ffebe8;
      background-image: url(/images/login/error.png);
      background-repeat: no-repeat;
      background-position: 10px center; }
  .onboard_page .login_page {
    width: 425px;
    margin: 50px auto 0; }
  .onboard_page .signup_page {
    width: 425px;
    margin: 50px auto 0; }
    .onboard_page .signup_page .flash_boxes .info {
      font-size: 12px;
      border: 0;
      padding: 0; }
  .onboard_page .nda_page {
    width: 528px;
    margin: 22px auto 0; }
    .onboard_page .nda_page .actions {
      margin-bottom: 0; }
    .onboard_page .nda_page .beta_agreement {
      margin: 20px 0;
      color: #555;
      height: 320px;
      overflow: auto;
      padding-right: 15px; }
      .onboard_page .nda_page .beta_agreement h2 {
        font-size: 14px;
        margin-bottom: 5px; }
      .onboard_page .nda_page .beta_agreement p {
        line-height: 1.2em;
        font-size: 10px; }
  .onboard_page .account_setup_page {
    width: 722px;
    margin: 80px auto 0; }
  .onboard_page .success_page {
    width: 425px;
    margin: 50px auto 0; }
    htmfl {
  overflow-x: hidden;
  overflow: -moz-scrollbars-vertical; }

body {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  background: #e3f1f3 url(/images/login/site_bg.png) repeat-x scroll top left;
  font-size: 12px;
  color: #333;
  position: relative;
  line-height: 1.2em; }

.error_panel {
  padding: 5px;
  border: 2px solid red;
  background-color: #fff;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 10px;
  font-weight: bold; }

.popup.behavior {
  display: none; }

#company-insider-info-window {
  z-index: 300; }

#footer {
  text-align: center;
  color: #888;
  font-size: 10px;
  font-family: Verdana;
  padding: 8px 0; }

.thumbnail_bg {
  width: 134px;
  height: 134px;
  overflow: hidden;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(/images/login/empty_default.png); }
  .thumbnail_bg > .corner {
    background-image: url(/images/login/avatar_corners/white.png);
    background-repeat: no-repeat;
    width: 5px;
    height: 5px;
    position: absolute; }
    .thumbnail_bg > .corner.tl {
      top: 0;
      left: 0;
      background-position: left top; }
    .thumbnail_bg > .corner.tr {
      top: 0;
      right: 0;
      background-position: right top; }
    .thumbnail_bg > .corner.bl {
      bottom: 0;
      left: 0;
      background-position: left bottom; }
    .thumbnail_bg > .corner.br {
      bottom: 0;
      right: 0;
      background-position: right bottom; }


.layout {
  width: 978px;
  margin: 0px auto -20px;
  padding-top: 15px;
  position: relative;
  background: transparent url(/images/login/watermark.png) no-repeat -30px 0; }
  .layout #layout_header.header {
    position: relative;
    z-index: 1001; }
    .layout #layout_header.header .nav, .layout #layout_header.header .nav2 {
      position: absolute;
      right: 0;
      width: 100%; }
    .layout #layout_header.header .nav {
      top: -13px;
      text-align: right;
      padding-top: 4px;
      z-index: 20; }
      .layout #layout_header.header .nav .panel {
        padding-left: 10px;
        display: inline;
        color: #4a4a4a;
        font-size: 11px; }
        .layout #layout_header.header .nav .panel a {
          color: #1a4170; }
        .layout #layout_header.header .nav .panel a.help_menu {
          background-image: url(/images/v2/icons/profile_minis.png);
          background-repeat: no-repeat;
          background-position: 22px -2809px;
          padding-right: 12px; }
        .layout #layout_header.header .nav .panel #help_menu {
          -moz-border-radius-bottomleft: 10px;
          -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
          -moz-border-radius-bottomright: 10px;
          -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
          position: absolute;
          padding: 5px 4px 4px 6px;
          width: 126px;
          background-color: white;
          border-left: 1px solid #e0e0e0;
          border-right: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          top: -1px;
          left: 873px;
          z-index: 9999;
          text-align: left; }
          .layout #layout_header.header .nav .panel #help_menu p {
            margin-bottom: 4px; }
          .layout #layout_header.header .nav .panel #help_menu ul {
            padding: 0; }
            .layout #layout_header.header .nav .panel #help_menu ul li {
              padding: 2px 0px; }
          .layout #layout_header.header .nav .panel #help_menu a.help_menu {
            background-position: 24px -2882px; }
          .layout #layout_header.header .nav .panel #help_menu a.show_help_balloons {
            background: transparent url(/images/v2/icons/help_balloon_link.png) no-repeat 100px 3px;
            padding: 6px 31px 6px 0; }
    .layout #layout_header.header .nav2 {
      top: -13px;
      z-index: 10; }
      .layout #layout_header.header .nav2 .nav_tabs {
        position: absolute;
        left: 400px;
        margin-top: 25px; }
        .layout #layout_header.header .nav2 .nav_tabs .nav_tab {
          display: block;
          float: left;
          width: 112px;
          height: 29px;
          margin-left: 1px;
          text-indent: -103481px;
          overflow: hidden;
          background-image: url(/images/v2/nav_tabs/nav_tabs.png);
          position: relative; }
          .layout #layout_header.header .nav2 .nav_tabs .nav_tab:hover {
            text-decoration: none; }
          .layout #layout_header.header .nav2 .nav_tabs .nav_tab.dashboard {
            background-position: 0px -58px; }
            .layout #layout_header.header .nav2 .nav_tabs .nav_tab.dashboard.on {
              background-position: 0px 0px; }
          .layout #layout_header.header .nav2 .nav_tabs .nav_tab.people {
            width: 82px;
            background-position: 0px -174px; }
            .layout #layout_header.header .nav2 .nav_tabs .nav_tab.people.on {
              background-position: 0px -116px; }
          .layout #layout_header.header .nav2 .nav_tabs .nav_tab.companies {
            background-position: 0px -290px; }
            .layout #layout_header.header .nav2 .nav_tabs .nav_tab.companies.on {
              background-position: 0px -232px; }
    .layout #layout_header.header a.logo {
      position: absolute;
      top: 6px;
      left: 0px;
      height: 30px;
      width: 70px;
      background: transparent url(/images/login/logo.png) no-repeat top left;
      text-indent: -99999px; }
    .layout #layout_header.header .notifier {
      display: none;
      position: absolute;
      right: 100px;
      top: 8px; }
      .layout #layout_header.header .notifier:hover {
        text-decoration: none; }
    .layout #layout_header.header .nav_stats {
      float: left;
      z-index: 1000;
      width: 315px;
      padding-left: 85px;
      margin-top: -6px;
      height: 53px;
      overflow: hidden; }
  .layout .page_wrapper {
    position: relative;
    margin: 0 -58px;
    padding-top: 29px; }
    .layout .page_wrapper .page_top {
      height: 260px;
      width: 100%;
      margin-top: -18px;
      position: relative; }
      .layout .page_wrapper .page_top .corners_left, .layout .page_wrapper .page_top .corners_right {
        position: absolute;
        width: 404px;
        height: 301px; }
      .layout .page_wrapper .page_top .corners_left {
        background: url(/images/login/top_left.png) no-repeat;
        top: 0;
        left: 0; }
      .layout .page_wrapper .page_top .corners_right {
        background: url(/images/login/top_right.png) no-repeat;
        top: 0;
        right: 0; }
      .layout .page_wrapper .page_top > .inner {
        background: transparent url(/images/login/top_bg.png) repeat-x top;
        height: 87px;
        margin: 0 59px;
        padding-top: 30px;
        position: relative;
        top: -15px;
        z-index: 101; }
    .layout .page_wrapper .page_content {
      background-color: #fff;
      margin: -221px 43px 0px;
      padding: 15px 20px;
      position: relative;
      z-index: 101;
      min-height: 500px; }
    .layout .page_wrapper .page_bottom {
      height: 345px;
      position: relative;
      margin-top: -304px; }
      .layout .page_wrapper .page_bottom .corners_left, .layout .page_wrapper .page_bottom .corners_right {
        position: absolute;
        width: 437px;
        height: 345px; }
      .layout .page_wrapper .page_bottom .corners_left {
        background: url(/images/v2/layout/bottom_left.png) no-repeat;
        bottom: 0;
        left: 1px; }
      .layout .page_wrapper .page_bottom .corners_right {
        background: url(/images/v2/layout/bottom_right.png) no-repeat;
        bottom: 0;
        right: 1px; }
      .layout .page_wrapper .page_bottom > .inner {
        background-color: #fff;
        height: 317px;
        margin: 0 50px; }

.help_balloon .link, .help_balloon .text {
  display: block;
  position: absolute; }
.help_balloon .link {
  z-index: 20;
  width: 22px;
  height: 22px;
  background: transparent url(/images/v2/icons/help_balloon_link.png) no-repeat top left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  text-decoration: none; }
.help_balloon .text {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 1000000;
  padding: 12px;
  font-size: 11px;
  line-height: 15px;
  border: 2px solid #d5ecec;
  background-color: white;
  width: 200px; }
  .help_balloon .text h3 {
    font-size: 12px;
    font-weight: bold; }
  .help_balloon .text strong {
    font-size: 11px; }
  .help_balloon .text ul {
    margin-left: 14px;
    padding: 0; }
    .help_balloon .text ul li {
      list-style-type: disc;
      padding: 2px 0; }
  .help_balloon .text a.close {
    background-color: transparent;
    background-image: url(/images/v2/icons/profile_minis.png);
    background-position: 0px -3891px;
    float: right;
    display: block;
    height: 18px;
    width: 18px;
    margin: -8px;
    overflow: hidden;
    text-indent: -99999px; }
    .help_balloon .text a.close:hover {
      background-position: 0px -3963px; }

#footer {
  clear: both;
  height: 18px;
  padding: 5px 0 0 0;
  font-size: 10px;
  text-align: center;
  position: relative;
  line-height: 1.2em;
  z-index: 100; }
  #footer a {
    padding: 0px 2px; }


.button_clear {
  padding: 0 0 0 16px;
  border: 0;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer; }
  .button_clear:hover {
    text-decoration: underline; }

.gist_button {
  background: transparent url(/images/login/gist_buttons.png) no-repeat 0px -108px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 0;
  width: 97px;
  height: 27px;
  padding-top: 0px;
  padding-bottom: 2px;
  cursor: pointer; }
  .gist_button.large {
    background-position: 0px 0px;
    width: 157px; }
  .gist_button.small {
    background-position: 0px -162px;
    width: 77px; }
  .gist_button.medium_large {
    background-position: 0px -54px;
    width: 117px; }


.tab {
  display: none; }

.tabs .ui-tabs-panel {
  display: block; }
  .tabs .ui-tabs-panel.ui-tabs-hide {
    display: none; }

.ui-tabs-hide {
  display: none; }

.ui-tabs-nav li a {
  height: 100%; }

.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  position: absolute;
  left: -99999999px; }

.ui-helper-reset {
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0; }

.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.ui-helper-clearfix {
  display: block; }

* html .ui-helper-clearfix {
  height: 1%; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-state-disabled {
  cursor: default !important; }

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .50;
  filter: Alpha(Opacity=50); }

.ui-dialog-titlebar {
  display: none; }

.ui-sortable-helper {
  z-index: 99999999; }




.white {
  color: #fff; }

.gray {
  color: #555; }

.green {
  color: #5a7500; }

.red {
  color: #aa0000; }

.block {
  display: block; }

.inline {
  display: inline; }

.hidden {
  visibility: hidden; }

.clear, .clearboth {
  clear: both; }

.clear-left, .clearleft {
  clear: left; }

.clear-right, .clearright {
  clear: right; }

.float-left, .left {
  float: left; }

.float-right, .right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.unbold {
  font-weight: normal; }

.v-middle {
  vertical-align: middle; }

.v-sub {
  vertical-align: sub; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.italic {
  font-style: italic; }

.underline {
  border-bottom: 1px solid; }

.highlight {
  background: #ffc; }

.wrap {
  width: 960px;
  margin: 0 auto; }

.img-left {
  float: left;
  margin: 4px 8px 4px 0; }

.img-right {
  float: right;
  margin: 4px 0 4px 8px; }

.nopadding {
  padding: 0; }

.nomargin {
  margin: 0 !important; }

.noindent {
  margin-left: 0;
  padding-left: 0; }

.nobullet {
  list-style: none;
  list-style-image: none; }

.nowrap {
  white-space: nowrap; }

.nobgimg {
  background-image: none !important; }

.push1 {
  float: left; }

.positioner {
  position: relative;
  top: 0;
  left: 0; }

.small {
  font-size: 9px; }

.centered {
  display: block;
  margin: 0 auto; }


p {
  margin-bottom: 10px;
  line-height: 1.5em; }

ul {
  margin: 0;
  padding: 0 0 8px 0;
  list-style: none;
  padding: 0 0 16px 40px; }
  ul.bulleted {
    list-style: disc;
    padding: 0 0 10px 32px; }

blockquote {
  margin: 24px 40px;
  padding: 0; }

strong {
  font-weight: bold; }

small {
  font-size: 0.85em; }

a {
  color: #006699;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }


.frame {
  min-width: 400px; }
  .frame .frame_top {
    height: 119px;
    padding-top: 12px;
    position: relative; }
    .frame .frame_top .corners_left, .frame .frame_top .corners_right {
      position: absolute;
      width: 156px;
      height: 119px; }
    .frame .frame_top .corners_left {
      background: url(/images/login/top_left.png) no-repeat;
      top: 0;
      left: 0; }
    .frame .frame_top .corners_right {
      background: url(/images/login/top_right.png) no-repeat;
      top: 0;
      right: 0; }
    .frame .frame_top .inner {
      background: #00b5dd url(/images/login/top_watermark.png) no-repeat;
      height: 82px;
      margin: 0 30px;
      position: relative;
      top: -15px;
      z-index: 101; }
      .frame .frame_top .inner h2 {
        padding-top: 45px;
        padding-left: 12px;
        padding-bottom: 5px;
        font-size: 18px;
        color: #fff;
        font-family: Verdana;
        font-weight: bold; }
  .frame .frame_content {
    background-color: #fff;
    margin: -37px 22px 0px 22px;
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 101;
    min-height: 60px; }
  .frame .frame_bottom {
    height: 119px;
    position: relative;
    margin-top: -99px; }
    .frame .frame_bottom .corners_left, .frame .frame_bottom .corners_right {
      position: absolute;
      width: 191px;
      height: 119px; }
    .frame .frame_bottom .corners_left {
      background: url(/images/login/bottom_left.png) no-repeat;
      bottom: 0;
      left: 3px; }
    .frame .frame_bottom .corners_right {
      background: url(/images/login/bottom_right.png) no-repeat;
      bottom: 0;
      right: 3px; }
    .frame .frame_bottom .inner {
      background-color: #fff;
      height: 106px;
      margin: 0 30px; }

.popup .frame .frame_top .corners_left {
  background-image: url(/images/login/top_left.png); }
.popup .frame .frame_top .corners_right {
  background-image: url(/images/login/top_right.png); }
.popup .frame .frame_bottom .corners_left {
  background-image: url(/images/login/bottom_left.png); }
.popup .frame .frame_bottom .corners_right {
  background-image: url(/images/login/bottom_right.png); }


#dash_take_action.take_action {
  margin-bottom: 10px;
  position: relative; }
  #dash_take_action.take_action .header {
    height: 32px;
    overflow: hidden;
    padding-top: 2px;
    padding-left: 5px;
    background-image: url(/images/v2/news_reader/header_dashboard.png);
    background-repeat: no-repeat;
    border: none; }
    #dash_take_action.take_action .header h2 {
      width: 118px;
      height: 29px;
      text-indent: -99999px;
      float: left;
      margin-top: 0px;
      background-image: url(/images/v2/take_action/take_action.png);
      background-repeat: no-repeat; }
  #dash_take_action.take_action .dashbox_button {
    top: 11px; }
    #dash_take_action.take_action .dashbox_button.move_button {
      visibility: hidden; }
  #dash_take_action.take_action .body {
    padding: 5px 10px;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-top: 0;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 15px;
    font-size: 85%;
    color: #585858; }
    #dash_take_action.take_action .body table {
      font-size: inherit;
      width: 100%; }
      #dash_take_action.take_action .body table td {
        padding: 4px 0px;
        border-bottom: 2px solid #EDEDED;
        vertical-align: top; }
      #dash_take_action.take_action .body table td.condition {
        padding-top: 10px; }
      #dash_take_action.take_action .body table td.action {
        width: 100px;
        padding-left: 4px;
        padding-top: 10px; }
        #dash_take_action.take_action .body table td.action a {
          display: block;
          height: 24px;
          width: 137px;
          padding: 4px 0px;
          text-align: center;
          background: transparent url(/images/login/link_button_background.png) no-repeat top left; }
      #dash_take_action.take_action .body table td.clear {
        padding-top: 14px; }
        #dash_take_action.take_action .body table td.clear a {
          display: block;
          height: 14px;
          width: 14px;
          overflow: hidden;
          text-indent: -9999px;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image: url(/images/login/profile_minis.png);
          background-position: 0px -3891px; }
          #dash_take_action.take_action .body table td.clear a:hover {
            background-position: 0px -3963px; }
      #dash_take_action.take_action .body table tr:last-child td {
        border-bottom: none; }


.status_bar {
  height: 47px;
  overflow: hidden; }
  .status_bar .panel {
    float: left;
    height: 47px;
    font-size: 10px;
    color: #666; }
    .status_bar .panel.col1 {
      width: 360px;
      border-right: 1px solid #d5d5d5; }
    .status_bar .panel.col2 {
      border-left: 1px solid #fff;
      border-right: 1px solid #d5d5d5;
      width: 375px; }
    .status_bar .panel.col3 {
      border-left: 1px solid #fff;
      width: 237px; }
    .status_bar .panel .progress {
      padding: 9px 20px 0 3px; }
      .status_bar .panel .progress label {
        color: #999;
        float: left;
        padding-top: 5px;
        padding-bottom: 5px; }
      .status_bar .panel .progress .progress_bar {
        margin-left: 6px; }
      .status_bar .panel .progress .percent {
        padding-top: 5px;
        float: right;
        color: #333; }
    .status_bar .panel .setup_account {
      text-align: center;
      padding-top: 10px; }
    .status_bar .panel .processing_info {
      padding-top: 11px;
      padding-left: 15px;
      color: #666;
      font-size: 10px;
      line-height: 1.3em; }
      .status_bar .panel .processing_info .name {
        width: 109px;
        height: 38px;
        overflow: hidden;
        margin-right: 10px;
        float: left; }
      .status_bar .panel .processing_info .last_uploaded, .status_bar .panel .processing_info .last_searched {
        margin-left: 122px;
        width: 235px;
        overflow: hidden;
        white-space: nowrap; }
        .status_bar .panel .processing_info .last_uploaded .more, .status_bar .panel .processing_info .last_searched .more {
          float: right;
          color: #a2a2a2;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 9px;
          padding: 0 5px; }


