<% form_for(@welfare_benefit) do |f| %>
  <fieldset>
    <legend>添加福利津贴记录</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p class="bbar">
      <input type="button" value="上一条" id="btnLast" />
      <input type="button" value='保存并新增' id ="save_and_new"  />
      <%= f.submit '保存并返回' %>
      <input type="button" onclick="$page.showListView('reloadData')" value="返回列表" />
      <input type="button" value="下一条"  disabled="disabled" />
    </p>
  </fieldset>
<% end %>
