<% form_for(@user) do |f| %>
  <fieldset>
    <legend>修改教职工</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p><label for change_password>修改密码</label>
    <input type="button" onclick="document.getElementById('user_update_password').disabled=false" value="启用密码修改" width="110" /></p>
    <p><label for change_password></label>
      <%= f.password_field :update_password, :disabled => true  %>
    <p class="bbar">
      <input type="button" value="上一条" id="btnPrev" />
      <input type="button" value='保存' id ="update"  />
      <input type="button" value='新增' id="btnNew"  />
      <input type="button" onclick="$page.showListView('reloadData')" value="返回列表" />
      <input type="button" value="下一条" id="btnNext" />
    </p>
  </fieldset>
<% end %>
