<h1>编辑系部</h1>

<% form_for(@department) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "名称" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit '更新' %>
    <input type="button" onclick="$page.showListView()" value="取消" />
  </p>
<% end %>
