<% form_for(@department) do |f| %>
  <fieldset>
  <legend>修改系部</legend>
  <%= f.error_messages %>
  <p>
    <%= f.label :field, "名称" %>
    <%= f.text_field :name, :class => "required" %>
  </p>
  <p class="bbar">
    <%= f.submit '保存' %>
    <input type="button" onclick="$page.showListView()" value="取消" />
  </p>
  </fieldset>
<% end %>