<% form_for(@department) do |f| %>
  <fieldset>
    <legend>修改系部</legend>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <%= f.submit '保存' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>