<fieldset>
  <legend>查看系部</legend>
  <p>
    <b>名称:</b>
    <%=h @department.name %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>