<% form_for(@page) do |f| %>
  <fieldset>
    <legend>新建页面</legend>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <input type="button" value='保存并新增' id ="save_and_new"  />
      <%= f.submit '保存并返回' %>
      <input type="button" onclick="$page.showListView()" value="返回列表" />
    </p>
  </fieldset>
<% end %>
