<p>
  <b>User:</b>
  <%=h @performance_benefit_std.user %>
</p>

<p>
  <b>Std fee:</b>
  <%=h @performance_benefit_std.std_fee %>
</p>


<%= link_to 'Edit', edit_performance_benefit_std_path(@performance_benefit_std) %> |
<%= link_to 'Back', performance_benefit_stds_path %>