<% form_for :science_be_science, :url => { :action => 'update', :id => @science_be_science.id }, :html => { :method => 'put'} do |f| %>
  <fieldset>
    <legend>修改科研津贴</legend>
    <%= f.error_messages %>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <%= f.submit '更新' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>