<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>数据备份</title>
  </head>
<body>
<h3>备份数据</h3>
<p> <%= flash.now[:notice] %> </p>
<input type="button" value="备份数据" onclick="window.location='/data_backup/do_backup'" />
</body>
</html>
