<% form_for(@station_position_benefit_record) do |f| %>
  <fieldset>
    <legend>修改岗位－职务津贴记录</legend>
    <%= render :partial => 'form', :locals => {:f =>f}  %>
    <p class="bbar">
      <%= f.submit '更新' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>
