<fieldset>
  <legend>查看页面模块</legend>
  <p>
    <b>名称:</b>
    <%=h @page_module.name %>
  </p>
  <p>
    <b>描述:</b>
    <%=h @page_module.description %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>