<%= stylesheet_link_tag "form.css" %>
<fieldset>
  <legend>修改个人帐户密码</legend>
  <p>
    <%= flash[:notice] %>
  </p>
  <% form_tag :action => 'try_to_change_password' do %>
    <p>
      <label for="old_password">旧密码:</label>
      <input type="password" value="" size="30" name="old_password" id="old_password"/>
    </p>
    <p>
      <label for="new_password">新密码:</label>
      <input type="password" value="" size="30" name="new_password" id="new_password"/>
    </p>
    <p>
      <label for="re_new_password">验证:</label>
      <input type="password" value="" size="30" name="re_new_password" id="re_new_password"/>
    </p>
    <p>
    <input type="submit" value="更新" onclick="return check_password()" />
    </p>
  <% end %>
</fieldset>
<script>
  function check_blank(el){
    if(el.value==""){
      alert(MsgDic[10002])
      el.focus();
      return false;
    }
    return true;
  }

  function check_password(){
    var old_pwd = document.getElementById("old_password");
    var new_pwd = document.getElementById("new_password");
    var re_new_pwd = document.getElementById("re_new_password");
    if(check_blank(old_pwd) && check_blank(new_pwd) && check_blank(re_new_pwd)){ //输入不为空白
      if(new_pwd.value == re_new_pwd.value){ //两次输入新密码一样
        if(new_pwd.value != old_pwd.value){ //新旧密码不一样
          return true;
        }else{
          alert(MsgDic[10003])
          old_pwd.focus();
        }
      }else{
        alert(MsgDic[10001])
        re_new_pwd.focus();
      }
    }
    return false;
  }
</script>
