<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>月工资明细</title>
    <%= stylesheet_link_tag "form.css" %>
    <%= javascript_include_tag "prototype" %>
  </head>
  <body>
    <form style="margin: 10px 0px;" id="search_form">
      <fieldset>
        <legend>月工资明细</legend>
        <p><label for="select_year">年度</label>
          <select onchange="new Ajax.Updater('total_list', '/profile/ajax_total_list', {asynchronous:true, evalScripts:true, parameters:'date_year='+value+'&amp;date_month='+document.getElementById('date_month').value + '&amp;authenticity_token=' + encodeURIComponent('dwLfE62btoIPNBVIT8zTopPupPQfivHLQWZ5k0q9vsE=')})" name="date[year]" id="date_year">
            <option value="" select="selected">选择年度</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
          </select>

          <label for="select_month">月份</label>
          <select onchange="new Ajax.Updater('total_list', '/profile/ajax_total_list', {asynchronous:true, evalScripts:true, parameters:'date_month='+value+'&amp;date_year='+document.getElementById('date_year').value + '&amp;authenticity_token=' + encodeURIComponent('dwLfE62btoIPNBVIT8zTopPupPQfivHLQWZ5k0q9vsE=')})" name="date[month]" id="date_month">
            <option value="" selected="selected">全年度</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </p>
        <p><span id='total_list'></span></p>
      </fieldset>
    </form>
  </body>
</html>


