<p>
  <b>User:</b>
  <%=h @retired_fee_cutting_record.user %>
</p>


<%= link_to 'Edit', edit_retired_fee_cutting_record_path(@retired_fee_cutting_record) %> |
<%= link_to 'Back', retired_fee_cutting_records_path %>